.row{
    background-color: #5e544c;
    color: #F6F3EC;
}

.img-fluid{
    height: 60px;
    padding: 5px;
    cursor: pointer;
}

.main_title{
    font-family: 'Exo', sans-serif;
    color: #F6F3EC;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.fa-user{
    color: #F6F3EC;
    height: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

.fa-user:hover{
    color: #D3D6C4;
}

div.row.py-3{
    background-color: #C7B699;
    color: #5e544c;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

h3.menu{
    margin-top: 10px;
}

.fa-caret-up{
    position: absolute;
    font-size: 30px;
}

div.caret.d-inline{
    position: absolute;
    padding-left: 35%;
}

div.col-12.py-4{
    font-family: 'Changa', sans-serif;
    color: #F6F3EC;
    font-size: 17px;
    border-bottom: 1px solid #F6F3EC;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-tiktok{
    font-size: 30px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

@media (min-width: 576px){

    .row{
        background-color: rgb(51, 33, 9);
    }
}

@media (min-width: 768px){

    div.col-12.py-4 h3{
        display: inline-flex;
    }

    .main_title{
        font-size: 30px;
        margin-top: 20px;
        text-align: center;
    }

    div.row.py-3{
        display: none;
    }

    .col-12.py-4{
        display: flex;
        text-align: center;
    }
}
