html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Poppins;
}

.row {
    background-color: #000000;
}

.top_row {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


nav.navbar {
    background-color: #EAEAEA;
    width: 100%;
    position: fixed;
    margin-top: 55px;
    width: 100%;
    z-index: 2;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #393E46;
    margin: 10px 0;
    border-bottom: .1px inset #222831;
    text-align: center;
}

li.nav-item a {
    font-size: 16px;
}


.website_logo {
    height: 50px;
    cursor: pointer;
}

.main_title {
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: #EAEAEA;
    font-size: 22px;
    margin-left: 30px;
    cursor: pointer;
}

/* .fa-bell {
    color: #EAEAEA;
    font-size: 18px;
    display: none;
} */

.fa-user {
    color: #EAEAEA;
    font-size: 18px;
    display: block;
}


.fa-user:hover,
.fa-basket-shopping:hover {
    color: #F28123;
    transition: .7s;
    box-shadow: 1px 1px 12px #EAEAEA;
}

.fa-bars {
    color: #222831;
    font-size: 20px;
}

.fa-facebook,
.fa-instagram,
.fa-snapchat,
.fa-whatsapp {
    color: #EAEAEA;
    font-size: 20px;
    align-items: center;
}

.form-control {
    background-color: #EAEAEA;
    border: none;
    border-bottom: 2px inset #222831;
}

input.form-control::placeholder {
    color: #222831;
    font-family: 'Poppins', sans-serif;
}


.search_icon {
    color: #222831;
}

/* .form-control:placeholder-shown{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.9;
} */

/* need to hide display of placeholder text on click using jquery */

.row-footer {
    border-radius: 5px 5px 0 0;
}

.row_visit_us {
    border-radius: 0 0 5px 5px;
}

.footer_head h3 {
    font-family: 'Exo', sans-serif;
    color: #EAEAEA;
    text-align: center;
    font-size: 18px;
    padding-bottom: 7px;
    padding-top: 3px;
}

.footer_icons,
.location_icons {
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 12px;
    border-bottom: .1px inset #EAEAEA;
}

.fa-facebook,
.fa-instagram,
.fa-snapchat,
.fa-whatsapp {
    font-size: 22px;
}

.visit_us h3 {
    font-family: 'Exo', sans-serif;
    color: #EAEAEA;
    align-items: center;
    font-size: 18px;
    padding-bottom: 12px;
}

.fa-location-dot {
    color: #EAEAEA;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.visit_us p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #EAEAEA;
    padding: 8px 0 15px 0;
}

.gender_class {
    text-align: center;
    width: 100%;
    margin: 13px 0;
}

div.col-12.col_men,
.col_women,
.col_kids {
    background-color: #EAEAEA;
    padding: 12px 0;
    border-bottom: 1px solid #222831;
    border-radius: 3px;
}

.a_men,
.a_women,
.a_kids {
    color: #222831;
    font-size: 20px;
    font-family: 'Changa', sans-serif;
    cursor: pointer;
}

.a_men:hover,
.a_women:hover,
.a_kids:hover {
    color: #EAEAEA;
    text-decoration: none;
    transition: .6s;
}

.carousel {
    margin-top: 35%;
}

.carousel-item img {
    width: 100%;
}

.carousel-caption h5 {
    background-color: rgba(24, 24, 24, .5);
    padding: 10px 0;
}

.carousel-caption p {
    background-color: rgba(24, 24, 24, .5);
    padding: 6px 0;
}

button.btn.btn-link {
    border: 1px solid #EAEAEA;
    padding: 10px 50px;
    color: #F28123;
    text-decoration: none;
    transition: .6s;
    font-family: 'Poppins', sans-serif;
}

button.btn.btn-link:hover {
    background-color: #EAEAEA;
    border: 1px solid #222831;
    color: #222831;
}

/* .footer_row{
    background-color: #EAEAEA;
    border-radius: 3px;
} */


.feature_list_row {
    margin: 3% 0;
    padding: 40px 0;
    background-color: #F28123;
    border-radius: 3px;
}

.feature_list_col1 {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #222831;
}

.feature_list_col2 {
    margin: 20px 0;
    border-bottom: 1px solid #222831;
}

.feature_list_col3 {
    margin: 20px 0 0 0;
}



.fa-dolly,
.fa-rotate,
.fa-phone-volume {
    font-size: 25px;
    color: #EAEAEA;
    padding: 5%;
    border: 2px dotted #EAEAEA;
    border-radius: 50%;
    margin-bottom: 3%;
}

.feature_list_row h2 {
    font-family: 'Poppins', sans-serif;
}

.product-section {
    margin-bottom: 20px;
}

.orange-text {
    color: #F28123;
}

.section-title {
    color: #EAEAEA;
    font-family: 'Changa', sans-serif;
}

.section-title p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.single-product-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border: 1px solid #EAEAEA;
    color: #EAEAEA;
}

.product-image {
    padding: 30px;
    padding-bottom: 0;
}

.product-image img {
    width: 90%;
    /* border: 1px inset #EAEAEA; */
    border-radius: 5px;
    margin-bottom: 20px;
}

.single-product-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.single-product-item a {
    color: #EAEAEA;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-product-item a:hover {
    color: #F28123;
}

p.product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

p.product-price span {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
}

a.cart-btn {
    border: 1px solid #EAEAEA;
    padding: 8px 20px;
    color: #F28123;
    text-decoration: none;
    transition: .6s;
    font-family: 'Poppins', sans-serif;
}

a.cart-btn:hover {
    background-color: #EAEAEA;
    border: 1px solid #222831;
    color: #222831;
}




.brands-section {
    margin-bottom: 30px;
    /* border: 1px solid #F28123; */
    padding: 20px 0;
}

.brand-avater img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.brand-row {
    /* background-color: #F28123; */
    border-radius: 3px;
    background-color: #EAEAEA;
    padding: 20px;
}

.brand-row h3 {
    color: #999999;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.brand-col:hover {
    border-bottom: 3px solid #F28123;
    transition: .8s;
}

.team-row {
    border-radius: 3px;
}

.client-avater,
.brand-avater {
    margin-bottom: 20px;
    margin-top: 20px;
}

.client-meta h3 {
    font-size: 20px;
    font-weight: 600;
}

.client-meta h3 span {
    display: block;
    font-size: 70%;
    margin-top: 10px;
    color: #051922;
    font-weight: 600;
    opacity: 0.5;
}

p.testimonial-body {
    font-size: 17px;
    font-style: italic;
    margin: 0 auto;
    line-height: 1.8;
    color: #999999;
    margin-top: 20px;
}

.last-icon {
    margin-top: 20px;
    font-size: 25px;
    opacity: 0.8;
    color: #F28123;
}

.client-avater img,
.brand-avater img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}


.footer-area {
    background-color: #000000;
    color: #EAEAEA;
    padding: 100px 0;
}

h2.widget-title {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    color: #EAEAEA;
}

h2.widget-title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #F28123;
    content: "";
}

.footer-box p {
    color: #EAEAEA;
    opacity: 0.7;
    line-height: 1.8;
    /* text-align: justify; */
}

.footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-box.pages a {
    color: #EAEAEA;
}

.footer-box ul li {
    opacity: 0.7;
    margin-bottom: 10px;
    line-height: 1.8;
}

.footer-box ul li:last-child {
    margin-bottom: 0;
}

.footer-box.subscribe form input[type=email] {
    border: none;
    background-color: #222831;
    width: 78%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #EAEAEA;
}

.footer-box.subscribe form button {
    width: 20%;
    border: none;
    background-color: #222831;
    color: #F28123;
    padding: 14px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.footer-box.subscribe form button:focus {
    outline: none;
}

.dummy-dot h1 {
    background-color: none;
    margin-bottom: 55px;
}

.dashboard_col{
    text-align: center;
    font-family: Poppins;
}

.dashboard_col h5{
    margin: 25px 0;
    padding: 15px 0;
    background-color: #222831;
    color: #EAEAEA;
}







@media (min-width: 767px) {

    /* .slider-row{
        height: 75vh;
    } */

    nav.navbar {
        background-color: #EAEAEA;
    }

    .form-control {
        background-color: #EAEAEA;
    }

    .gender_class {
        display: inline-flex;
        width: 29%;
    }

    .carousel {
        margin-top: 10%;
    }

    div.col-12.col_men,
    .col_women,
    .col_kids {
        margin-left: 8%;
    }

    .footer_container {
        padding: 0 5%;
    }

    .feature_list_col1,
    .feature_list_col2 {
        border-bottom: none;
    }

    .feature_list_col1 {
        margin-top: 20px;
    }

}

@media (min-width: 992px) {

    .main_title {
        font-size: 24px;
        margin-left: 30px;
    }

    .fa-user {
        display: block;
        cursor: pointer;
        margin-left: 15px;
    }

    .fa-basket-shopping {
        color: #EAEAEA;
        display: block;
        cursor: pointer;
        margin-right: 25px;
    }

    .row-footer {
        display: none;
    }

    .visit_us {
        display: none;
    }

    nav.navbar {
        width: 100%;
        border-bottom: 1px inset #222831;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #F28123;
    }

    .form-control {
        background-color: #F28123;
    }

    .input-group {
        width: 40%;
    }

    .fa-house,
    .fa-layer-group,
    .fa-star,
    .fa-gifts,
    .fa-circle-info {
        font-size: 16px;
        margin-top: 3px;
        padding-right: 8px;
    }

    a.nav-link {
        font-size: 18px;
        border-bottom: none;
        display: inline-flex;
        padding-top: 0;
        padding-bottom: 0;
    }

    li.nav-item {
        padding: 0 40px;
    }

    ul.navbar-nav {
        display: inline-flex;
        margin-left: 40px;
    }

    a.nav-link:hover {
        color: #EAEAEA;
        transition: .8s;
    }

    /* a.nav-link.active_link{
        border-bottom: 2px solid #5e544c;
    } */

    .carousel-item img {
        height: 650px;
        /* padding: 1%; */
        width: 90%;
        margin: auto;
        border: 5px solid #EAEAEA;
    }

    /* .container-fluid, .row-2{
        position: fixed;
    } */

}



.login-form, .signup-form{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid #F28123;
    padding: 5% 15%;
    margin: 4%;
    border-radius: 3px;
    top: 0px;
    z-index: 3;
}

form h3 {
    text-align: center;
    font-family: Changa;
    color: #eaeaea;
}

.orange-text {
    color: #F28123;
}

.login-image img,
.signup-image img {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 6%;
    margin-top: -3%;
}

.form-group label {
    color: #f28123;
    font-family: Poppins;
    margin-bottom: 0px;
}

label.form-check-label {
    font-size: 14px;
}

.form-control::placeholder {
    font-family: Poppins;
    opacity: .8;
    font-size: 12px;
}

.login-btn,
.signup-btn {
    background-color: #F28123;
    margin-bottom: 6%;
}

form a {
    color: #eaeaea;
    font-family: Poppins;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

form a:hover {
    color: #eaeaea;
    text-decoration: underline;
}

.fa-xmark {
    color: #eaeaea;
    text-align: right;
    font-family: Changa;
    font-size: 28px;
    cursor: pointer;
}




/* Page header styles starts */


.page-header-row {
    background: none;
}

.page-header-bg {
    background-image: url(../assets/Images/Air\ Jordan\ Shoes\ Wallpapers.jpg);
}

.page-header-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: Poppins;
}

.page-header-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #EAEAEA;
    margin: 0;
    margin-top: 20px;
    font-family: Changa;
}

.page-header-section {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 200px;
}

.page-header-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #222831;
    z-index: -1;
    opacity: 0.4;
}




.single-product-row {
    margin-top: 20px;
    height: auto;
    background-color: 000000;
}

.single-product-item h1 {
    font-family: Changa;
    margin-top: 20px;
}

.form-control-quantity {
    width: 100%;
    background-color: #000000;
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 7px 30px;
    margin-bottom: 20px;
}

.form-control-quantity::placeholder {
    color: #eaeaea;
}

ul.product-share li {
    display: inline-block;
    margin-top: 45px;
}

ul.product-share li a {
    color: #051922;
    justify-content: space-between;
    margin: 0 20px
}






.cart-row{
    background-color: #000000;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    background: #000000;
    color: #EAEAEA;
}

.cart-table{
    border: 1px solid #EAEAEA;
    width: 100%;
}

.table-head-row{
    background-color: #F28123;
    color: #222831;
    border: 1px solid #eaeaea;
}

.table-head-row th{
    padding: 15px;
    font-size: 15px;
}

.fa-circle-minus{
    color: #EAEAEA;
    font-size: 20px;
    margin: 10px;
}

.cart-section, .cart-row{
    margin-top: 10%;
    padding: 40px 10px;
}

.total-section table.total-table {
    border: 1px solid #EAEAEA;
    width: 100%;
}

tr.table-total-row {
    background-color: #F28123;
    color: #222831;
}

tr.table-total-row th {
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
}

table.total-table tbody tr.total-data td {
    border: 1px solid #efefef;
    padding: 19px 15px;
}

tr.total-data td strong {
    margin-right: 32px;
}

.cart-buttons {
    margin-top: 30px;
}

.cart-buttons a:first-child {
    margin-right: 20px;
}

.boxed-btn{
    background: #000000;
    padding: 7px 20px;
    border: 1px solid #EAEAEA;
    color: #F28123;
}

.boxed-btn:hover{
    background: #eaeaea;
    color: #222831;
    text-decoration: none;
    transition: .6s;
}



.error-page-cont{
    height: 100vh;
    width: 100%;
}

.error-page-col img{
    margin-top: 5%;
    margin-bottom: 0;
    height: 400px;
}

.error-page-col h3{
    background: #000000;
    padding: 150px 0;
    margin-top: -8%;
    color: #222831;
    text-transform: uppercase;
    font-family: Exo;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    color: #EAEAEA;
}

.checkout-container{
    border: 1px solid #EAEAEA;
}

.checkout-row h5, .payment-col h5{
    color: #F28123;
    font-family: Exo;
    margin-top: 5%;
}

iframe{
    width: 100%;
    height: 50vh;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    /* filter: invert(100%); for dark mode */
}

.form-label{
    color: #F28123;
    font-family: Exo;
}

.payment-col h5{
    margin-bottom: 5%;
}

.form-check-label img{
    background: #EAEAEA;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #F28123;
    cursor: pointer;
}

.payment-btn{
    margin-top: 8%;
    margin-left: 45%;
}

